@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital@1&family=Roboto+Condensed:wght@100&display=swap');
.App{
  min-height: 100vh;
  /* display: flex;  */
  background-image: url(./homewall.jpg);
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}